# Build directories
build/
cmake-build-*/

# IDE
.idea/
.vscode/
*.user
*.autosave

# Qt Creator
CMakeLists.txt.user*

# Compiled files
*.o
*.a
*.so
*.dylib
moc_*
qrc_*

# Package artifacts
*.pkg.tar.zst
*.tar.gz
_CPack_Packages/
_arch_pkg/
